{{#section 'head'}}
  <link href="/vendor/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
  <link href="/vendor/fullcalendar/dist/fullcalendar.print.css" rel="stylesheet" media="print">
  <style media="screen">
  </style>
{{/section}}

{{#section 'functionality'}}
  {{#each sess.functionalityProfile}}
    <li><a href="{{Action}}"><i class="fa {{Icon}}"></i> {{Name}} </a></li>
  {{/each}}
{{/section}}

{{#section 'script'}}

  <script>
  </script>
  
{{/section}}
