div.meuMenu span:first-of-type{
  padding-right: 5px;
}

div.meuMenu .label{
  cursor: pointer;
}

.meuMenu .panel-heading{
  padding: 5px;
}

.fa{
  cursor: pointer;
}

.alert{
  margin-bottom: 15px;
}

.label{
  cursor: pointer;
}

.modal-footer{
  padding: 10px 5px 5px 5px;
}

.panel {
  margin-bottom: 5px;
}

table {
  font-size: 11px;
}

th{
   text-align:center;
}
td{
  padding:4px !important;
}
