<style media="screen">
  #modalMoreInfoInternal table td{
    border: 1px solid black;
    vertical-align:top;
  }
  #modalMoreInfoInternal .titleDataReport{
    font-size: 10px;
  }
  #modalMoreInfoInternal .titleDataReport span{
    border-right: 1px solid #adadad;
    border-bottom: 1px solid #adadad;
    padding: 1px 3px 2px 2px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
  }
  #modalMoreInfoInternal .contentDataReport{
    padding: 2px 4px 4px 4px;
    /*text-align: right;*/
  }
</style>

<div id="modalMoreInfoInternal" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width:80%;">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <table style="width:100%;">
          <tr>
            <td style="width:25%;">
              <div class="titleDataReport">
                <span>Nome</span>
              </div>
              <div class="contentDataReport">
                cunha felipe cunha felipe cunha felipe cunha felipe cunha felipe
                cunha felipe cunha felipe cunha felipe cunha felipe cunha felipe
                cunha felipe cunha felipe cunha felipe cunha felipe cunha felipe
                cunha felipe cunha felipe cunha felipe cunha felipe cunha felipe
              </div>
            </td>
            <td style="width:25%;">
              <div class="titleDataReport">
                <span>Nome</span>
              </div>
              <div class="contentDataReport">
                cunha felipe cunha felipe cunha felipe cunha felipe cunha felipe
                cunha felipe cunha felipe cunha felipe cunha felipe cunha felipe
                cunha felipe cunha felipe cunha felipe cunha felipe cunha felipe
                cunha felipe cunha felipe cunha felipe cunha felipe cunha felipe
              </div>
            </td>
            <td style="width:25%;">
              <div class="titleDataReport">
                <span>Responsible by Event</span>
              </div>
              <div class="contentDataReport">
                cunha felipe cunha felipe cunha felipe cunha felipe cunha felipe
                cunha felipe cunha felipe cunha felipe cunha felipe cunha felipe
                cunha felipe cunha felipe cunha felipe cunha felipe cunha felipe
                cunha felipe cunha felipe cunha felipe cunha felipe cunha felipe
              </div>
            </td>
            <td style="width:25%;">
              <div class="titleDataReport">
                <span>Nome</span>
              </div>
              <div class="contentDataReport">
                cunha felipe cunha felipe cunha felipe cunha felipe cunha felipe
              </div>
            </td>
          </tr>
        </table>
      </div>

      {{this}}
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
