{{#section 'functionality'}}
  {{#each sess.functionalityProfile}}
    <li><a href="{{Action}}"><i class="fa {{Icon}}"></i> {{Name}} </a></li>
  {{/each}}
{{/section}}

<div class="panel panel-primary">
  <div class="panel-heading">Approve</div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Event Number</th>
          <th>Creator</th>
          <th>Begin</th>
          <th>End</th>
          <th>Event Name</th>
          <th>Approve</th>
        </tr>
      </thead>
      <tbody>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tbody>
    </table>
  </div>
</div>
